.input-container {
  width: 100%;
}

.input-field {
  font-size: .75rem;
  font-weight: 500;
  width: 100%;
  border: none;
  background-color: $primary-three;
  border-radius: .3125rem;
  padding: .625rem 1rem;
}
