.message-list {
  padding: .625rem 0;
  overflow-y: scroll;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100% - 6rem);

  &::-webkit-scrollbar {
    width: .1875rem;
  }

  &::-webkit-scrollbar-thumb {;
    border: .125rem solid rgba($primary-two, .4);
  }

  .message {
    margin-bottom: 1rem;
  }
}
