.message-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  &-empty {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    font-weight: 500;
    color: $primary-two;
  }

  &-loading {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
  }

  &.empty {
    height: 100%;

    .message-list-empty {
      display: flex;
    }

    .message-list-loading {
      display: none;
    }

    .message-list-messages {
      display: none;
    }
  }

  &.loading {
    height: 100%;

    .message-list-empty {
      display: none;
    }

    .message-list-loading {
      display: flex;
    }

    .message-list-messages {
      display: none;
    }
  }

  .message {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
