{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-cond-assign": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off"
  }
}
