{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-cond-assign": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "no-console": "off" // TODO: remove after 2 sprint
  }
}
