.line-form-field {
  display: flex;
  justify-content: space-between;
  padding: .625rem 0;
  border-bottom: 1px solid rgba($primary-two, .5);

  &__label,
  &__value {
    font-weight: 500;
    font-size: .8125rem;
  }

  &__label {
    flex: 2;
    display: flex;
    align-items: center;
  }

  &__value {
    color: $primary-two;
    border: none;
    width: fit-content;
    text-align: right;

    &:disabled {
      background: none;
    }

    &:focus {
      outline: none;
    }
  }
}
