.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;

  &-form__name {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 1.25rem 0 2rem 0;
  }

  &-form-table {
    width: 510px;

    @media (max-width: 576px) {
      width: auto;
    }
  }

  &-form-buttons {
    margin-top: 3.75rem;

    .button-component__link {
      text-align: left;
      padding-left: 0;
    }
  }

  &-form__info-block {
    display: none;
    justify-content: center;
    align-items: center;
    color: $warning-color;
    font-size: .75rem;
    margin-top: 2rem;

    &.visible {
      display: flex;
    }
  }

  &.profile_edit {
    .profile-form-buttons {
      display: flex;
      justify-content: center;
      width: 50%;
      margin: 2rem auto;

      @media (max-width: 576px) {
        width: 100%;
      }

      .button-component__link {
        text-align: center;
        padding-left: .75rem;
      }
    }
  }
}
