.profile.change-password {
  .profile-form-table__inputs {
    margin-bottom: 4rem;
  }

  .profile-form-table {
    position: relative;
  }

  .profile-form-table__error {
    display: none;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    height: 2rem;
    padding: .625rem;
    text-align: center;
    font-size: .75rem;
    color: $warning-color;
    width: 100%;
  }

  .profile-form-table__buttons {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2rem auto;

    @media (max-width: 576px) {
      width: 100%;
    }

    .button-component__link {
      text-align: center;
      padding-left: .75rem;
    }
  }
}
