.profile.change-password {
  .profile-form-buttons {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 4rem auto;

    @media (max-width: 576px) {
      width: 100%;
    }

    .button-component__link {
      text-align: center;
      padding-left: .75rem;
    }
  }
}
