.users-menu-list-item-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: .5rem;
  color: $primary-two;
  font-size: .8125rem;

  .users-menu-list-item__avatar {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .5rem;
  }

  .users-menu-list-item__login {
    margin-right: .5rem;
  }

  .users-menu-list-item__fullname {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: .5rem;
    flex: 4;
    font-weight: 600;
    color: initial;
  }

  .users-menu-list-item__remove {
    cursor: pointer;

    &:hover {
      color: $warning-color;
    }
  }
}
