@import "./reset";
@import "./variables";

// components
@import "../src/components/button/button.styles";
@import "../src/components/form-field/form-field.styles";
@import "../src/components/message/message.styles";
@import "../src/components/chat/chat.styles";
@import "../src/components/message-list/message-list.styles";
@import "../src/components/back-aside/back-aside.styles";
@import "../src/components/image-chooser/image-chooser";
@import "../src/components/avatar/avatar.styles";
@import "../src/components/chats-list/chats-list.styles";
@import "../src/components/add-chat/add-chat.styles";
@import "../src/components/active-chat/active-chat.styles";
@import "../src/components/users-menu/users.menu.styles";

// pages
@import "../src/pages/error/error.styles";
@import "../src/pages/sign-in/sign-in.styles";
@import "../src/pages/profile/profile.styles";
@import "../src/pages/messenger/messenger.styles";
@import "../src/pages/change-password/change-password.styles";

html,
body,
#root {
  padding: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  max-width: 90rem;
  margin: 0 auto;
}

.divider {
  background-color: rgba($primary-two, .5);
  height: .0625rem;
  width: 100%;
}
