@import "./reset";
@import "./variables";

// components
@import "../src/components/button/button.styles";
@import "../src/components/line-form-field/line-form-field.styles";
@import "../src/components/divider/divider.styles";
@import "../src/components/form-field/form-field.styles";

// pages
@import "../src/pages/error/error.styles";
@import "../src/pages/sign-in/sign-in.styles";
@import "../src/pages/sign-up/sign-up.styles";
@import "../src/pages/profile/profile.styles";
@import "../src/pages/messenger/messenger.styles";

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}
