$primary-one: #3369F3;
$primary-two: #999999;
$primary-three: #EFEFEF;
$white: #FFFFFF;
$warning-color: #D40404;
$success-color: #09A709;
$divider-color: #EAEAEA;
$background-color: #FBFBFB;
$primary-one-hover: #E4EDFD;
$message-internal-color: #E4EDFD;
$message-external-color: #F8F8F8;
$message-external-color-text: #FF8C00FF;
