.avatar-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.clickable {
    cursor: pointer;
  }

  &__image {
    background-color: rgba($primary-two, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.125rem;
    width: 8.125rem;
    object-fit: cover;
    border-radius: 50%;
  }
}
